* {
padding: 0;
margin: 0;
box-sizing: border-box;
}
body { 
    font-family: cursive;

}
.fondologo{ width: 100px;
    height: 100px;

}

.menu { display: flex;
    background-color: #f5abb0; 
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 10;
}
   .navegador{
       width: 100%;
    list-style: none;
    display: flex;
    margin: 10px;
    gap: 32px;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 0;
    padding-right: 0;
   }
   .nav {
    padding-top: 1rem;
    padding-right: 0;
    padding-bottom: 1rem;
    padding-left: 1rem;
    
}
    

.navegador__la{
     color:black;
     text-decoration: none;
    }
    .carrusel{
        width: 100%;
        height: 400px;
    }
    .carrusel__img{
        background-color: black;
      width: 100%;
      height: 400px;
        object-fit: contain;

    }

 /* CLASE GRID.seccion{
    width: 100%;
    padding: 1rem ;
}
.grid{
    border: 2px solid #555;
    padding: 1rem;
    min-height: 400px;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: 200px 200px ;
    gap: 8px;
    justify-items: stretch;
    align-items: stretch;
    justify-content: flex-start;
    align-content: flex-start;
    grid-template-areas: 
    "ele1 ele2 ele2"
    "ele3 ele4 ele5"; 
}
.grid__hijo{
    border: 1px solid pink;
    text-align: center;

}
.grid__imagen{
    object-fit: cover;
    width: 100%;
    height: 100%;
    padding: 0;

}
.grid__hijo--1{
    grid-area: ele1;
}

.grid__hijo--2{
    grid-area: ele2;
}
.grid__hijo--3{
    grid-area: ele3;
}
.grid__hijo--4{
    grid-area: ele4;
}
    .grid__hijo--5{
        grid-area: ele5;
    }
    .grid__hijo--6{
        grid-area: ele6;

    } */
    

.titulo2{ 
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(163, 158, 163) ;
    color: whitesmoke ;
    font-size: 50px;
    text-align: center;
    margin: 1rem; 
    width: 100%;     
}

.focus-in-expand {
	-webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-5-2 17:22:11
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation focus-in-expand
 * ----------------------------------------
 */
 @-webkit-keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }

.promo {
    color: rgb(127, 98, 139);
    font-size: 40px;
    text-align: center;
}

.whatsapp {  color: #D4E0EE;
    text-decoration: none;
    background-color: darkgreen;
    padding: 1rem 1rem;
    display: inline-block;
    bottom: 2rem;
    right: 2rem; 
    position:fixed;}
   
.servi{
    background-color:#f5abb0;
    margin: 1rem;
     color: black;
text-align: center;
font-size: 40px;

}
.serviciouñas {
    color: #f5abb0;
text-align: center;
font-size: 30px;

}
.imag { height: 400px;
    width: 100%;
    background-image: linear-gradient(to bottom, #CCABDB, #86E3CE);
}

.imagenes {
    width: 100%;
    height: 400px;
    object-fit: contain;
    
}
.animacion{
    animation-name: desaparecer;
    animation-duration: 1s;
    animation-iteration-count: infinite;

}

@keyframes desaparecer {
    0%{ 
        opacity: 1;
    }
    50%{
        opacity: 0;

    }
    100%{
        opacity:1;
    }
    
}
.card{
    background-color: #CCABDB;
    padding: 2rem;
    margin: 20px;
}
.subtitulos{
    color: white;
font-size: 28px;
margin: 1rem;
text-align: center;

}
.foto {  
     color:white;
    border: 3px solid ;
    border-radius: 20px;
margin: 1rem;
width: 250px;
height: 250px;

}


.foto--transform{
    transition: all 2s;
    transition: width 3s height 3s;
    

}
.gradientes:hover .foto--transform{
    width: 300px;
    height: 300px;

}



.fondo { background-color: white;
    margin: 2rem 0 0;
     width: 100%;    
}
.fondofooter{
    background-color: #f5abb0;
    text-align: center;
    list-style: none;
    width: 100%;
}
.logofooter{
    margin: 2rem;
    
    
}
.jam--footer{
    margin: 10px;
    color: black;
    text-decoration: none;
}

.titulofooter{ 
    color: white;
    font-size: 18px;
    margin: 1rem;


}


.contacto{
    color: #f5abb0;
    text-align: center;
    padding-bottom: 15px;
    font-size: 24px;
}
.fondocontacto{
    border: 2px solid pink;
    text-align: center;
    width: 400px;
    background: rgba(0, 0,0.4,0);
    padding: 10px 15px;
    box-sizing: border-box;
    margin-top: 15px;
    border-radius: 7px;
    padding-bottom: 20px;
    margin-bottom: 10px;
}
    .type{background-color: pink;
        color: gray;
        width: 90%;
        margin-bottom: 10px;
        box-sizing: border-box;
        border-radius: 8px;
        padding: 7px;
        font-size: 15px;
        border: none;
    }

.mensaje { font-size: 15px;
    color:rgb(185, 144, 144);
    
}
.mapa{
    width: 500px;
    margin-top: 1rem;
}
.botone{
    background-color: pink ;
    color: aliceblue;
    font-weight: bold;
    width: 120px;
    padding: 8px;
    border: 2px solid white;
    border-radius: 5px;
    text-align: center;
}

.fondoturnos { padding: 1rem;
    min-height: 300px;
    border: 2px solid gainsboro;
    text-align: center;

}

.turno{
margin: 2rem;
font-size: 30px ;
color: black;
text-align: center;


}
.button__turno{
    background-color: #f5abb0;
    color:aliceblue;
    font-weight: bold;
    width: 50%;
    padding: 15px;
    border: 2px solid rgba(0,51,102);
    border-radius: 5px;
    text-align: center;


}
.section{
    height: 250 auto;
    width: 100%;
    display: flex;
    justify-content: center;


}

.imagenpromo{
    width: 400px;
    height: 300px;
    border-radius: 1rem;
    margin: 1rem;
    
}
.subpromo{
    text-align: center;
    font-size: 35px;
    color: black;
}
    .promo{
        font-size: 25px;
        text-align: center;
    }

    .sectionservi{
        display:flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: auto;
    }
    .articleservi{
    margin: 1rem;
    color: white;
    font-weight: 500;
    width: 90%;
    font-size: 1rem;
     border-radius: 2rem;
    padding: 1rem;
    background-color:pink;

    }
    .sub__servi{
        text-align: center;
        font-size: 15px;
        color: white;
    }
    .fotosuñas{
        border: 4px solid gray;
        width: 200px;
        height: 200px;
        border-radius:16px;
        margin: 8px
    }

    .parrafos{ 
        font-size: 14px;
        color:black;
        height: auto;
        padding: 10px;


    }


.jam-close-rectangle{ display: none;

}

.menu__icono{
    display: none;
}

.promocionesfondo{
   width: 90%;
   margin-left: 5%;
   margin-right: 5%;
    background-color: #f5abb0;
    height: auto;
    border-radius: 1rem;
    padding: 1rem;
}
.parraf {
    color: white;
    font-size: 20px;
    text-align: center;
}


@media screen and (max-width: 1023px) {
    .menu{
        flex-direction: column;
    }
    .navegador__la{
        color:black;
        text-decoration: none;
       }
    .nav{
        padding:0;
        margin: 0;
    }
    .seccion{
        margin: 60px 0 2px 0;

    }
    .fondo {
        margin: 3rem 0 0;
    }
    .fondologo{
        width: 85px;
        height: 85px;
    }
  
   
    
    /*.grid{
        border: 2px solid #555;
        padding: 1rem;
        min-height: 300px;
        display: grid;
        grid-template-columns:repeat(3, 1fr);
        grid-template-rows: 150px 150px ;
        justify-items: stretch;
        align-items: stretch;
        justify-content: flex-start;
        align-content: flex-start;}*/

       .titulo2{
           font-size: 35px;
       }
        .imag{
            width: 100%;
            height: 300px;
           
               }
               .imagenes{
                   object-fit: contain;
                   width: 100%;
                    height: 300px;
               }
               .turno{
                   font-size: 25px;
                   margin: 2rem;
               }
               .fondoturnos{
                   min-height: 300px;
               }
               .servi{
                   font-size: 35px;
               }
               .serviciouñas{
                   font-size: 30px;
               }
               .fotosuñas{ border: 3px solid plum;
                width: 150px;
                height: 150px;
                border-radius:14px;
                margin: 1rem;
               }
            .contacto{
                padding-bottom: 12px;
                font-size: 18px;
            }

            .fondocontacto{
                width: 350px;
                padding: 8px 12px;
                margin-top: 12px;
                padding-bottom: 15px;
            }
            .type{
                width: 80%;
                font-size: 14px;

            }
            .mensaje{
                font-size: 14px;
            }
            .mapa{
                width: 350px;
                height: 400px;
                margin-left: 1rem;

            }
            .botone{
                width: 100px;
                padding: 5px;
            }


            .button__turno{
                width:40% ;
                padding: 12px;
            }
            .section{
                height: 200 auto;
                width: 100%;
                display: flex;
                
        }
                .imagenpromo{
                    width: 300px;
                    height: 250px;
                    border-radius: 2rem;
                   padding: 5px;
                    
                }
                .subpromo{
                    font-size: 30px;
                }
               
        .promo{
            font-size: 25px;
        }

        .servi{ font-size: 30px;

        }
        .serviciouñas{
            font-size: 20px ;

        }
    .imag{
        width: 100%;
    }
    .sectionservi
    {
        flex-wrap: wrap;
        flex-direction: row;
        align-content: flex-start;
     
    }
    .articleservi{
        width:40% ;

    }
    .sub__servi{ font-size: 14px;

    }
    .parrafos{
        font-size: 9px;
        padding: 8px;
    }
    .foto{
        width:150px;
        height: 150px;
        border: 3px solid ;
        border-radius: 15px;
        margin: 15px;

    }
    .card{
        padding: 10px;
        margin: 18px;
    }
    .subtitulos{
        font-size: 20px;
    }
    .gradientes:hover .foto--transform{
        width: 200px;
        height: 200px;}

        .carrusel{
            width: 100%;
            height: 300px;
        }
        .carrusel__img{
            background-color: black;
          width: 100%;
          height: 300px;
            object-fit: contain;
    
        }
}




@media screen and (max-width: 600px) {
  .nav {
    display:none;}
 .navegador__la{
    color:black;
    text-decoration: none;
   }

    .menu{
        flex-direction: row;
    }
    .menu__icono{
        display: flex;
        color: black;
       
    }
   

 .seccion{
    margin:1rem 0px;
    padding: 0;
  }
 /*.grid{
    border: 1px solid #555;
    padding: 10px;
    min-height: 200px;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: 100px 100px ;
    justify-items: stretch;
    align-items: stretch;
    justify-content: flex-start;
    align-content: flex-start;*/
 
.titulo2{
    font-size: 25px;
    color: black;
    background-color: white;
 }
 .foto{
     text-align: center;
    width:120px;
    height: 120px;
    border: 3px solid ;
    border-radius: 12px;
    margin: 5px;}
.card{
    padding: 5px;
    margin: 8px;
}
.subtitulos{
    font-size: 14px;
}
.gradientes:hover .foto--transform{
    width: 145px;
    height: 145px;}
 .fondologo{
    width: 80px;
    height: 80px;
    
    
  }
 .fondo{
    background: white;
    width: 100%;
    margin:0;

  }
 .fondofooter{
    font-size: 14px;
    width: 100%;
   }
    #lateral{
        display: block;
        background-image: linear-gradient(to bottom, #f5abb0, white);
        width: 50%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 100;
        transition: left 2s;
        color: black;
    }
    #lateral:target{
        left: 0;

    }
    .jam-close-rectangle{ display: flex;}

    .navegador{
        flex-direction: column;
    }
    .imag{
 width: 100%;
 height: 200px;

    }
    .imagenes{
        object-fit: contain;
        width: 100%;
         height: 200px;
    }
    .turno{
        font-size: 20px;
        margin: 2rem;
    }
    .fondoturnos{
        min-height: 400px;
    }
    .servi{
        font-size: 30px;
    }
    .serviciouñas{
        font-size: 20px;
    }
 .fotosuñas{ 
    border: 2px solid plum;
    width: 100px;
    height: 100px;
    border-radius:12px;
    margin: 1rem;
    text-align: center;

   }
   .contacto{
    font-size: 16px;}
 .fondocontacto{
    width: 280px;
    background: rgba(0, 0,0.4,0);
    padding: 4px 8px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-left: 3rem;
    border-radius: 5px;
    padding-bottom: 15px;
     margin-bottom: 6px;}
    .mensaje { font-size: 15px;}
    .type{background-color: pink;
        color: gray;
        width: 80%;
        margin-bottom: 12px;
        box-sizing: border-box;
        border-radius: 8px;
        padding: 5px 1rem 5px;
        font-size: 10px;
        border: none;}
        .botone{
            width: 90px;

        }
        .mapa{
            width: 300px;
            height: 200px;
            margin-left: 3rem;
            margin-bottom: 10px;
        }


        .button__turno{
            width:20% ;
            padding: 5px;
        }

        .section{
            height: 200 auto;
            width: 100%;
            display: flex;
            flex-direction: column;
           align-items: center;
        
        }
        .promocionesfondo{
            width: 80%;
            margin-left: 10%;
            margin-right: 10%;

        }
        .imagenpromo{
            width: 250px;
            height: 2500x;
            padding: 5px;
            margin: 5px;
           
            border-radius: 1rem;
            
        }
        .subpromo{ 
            text-align: center;
            font-size: 20px ;
            color:black;}
            .parraf{
                text-align: center;
                font-size: 15px;
            }
             .promo{
                font-size: 18px;
            }
            .sectionservi {
                display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
     
    }
    .articleservi{
        justify-content: center;
        width:80% ;
        padding: 10px;
        margin: 10px 3rem 10px 3rem;

    }
    .sub__servi{ font-size: 12px;

    }
    .fotosuñas{
        width: 200px;
        height: 200px;
        margin: 1rem;
    }
    .parrafos{
        font-size: 10px;
        padding: 5px;
    }
    .button__turno{
        width: 60%;}  

    .carrusel{
        width: 100%;
        height: 200px;
    }
    .carrusel__img{
        background-color: black;
      width: 100%;
      height: 200px;
        object-fit: contain;

    }
    .logofooter{
        width: 80px;
        height: 80px;
    }
    .titulofooter{
        font-size: 15px;
        margin: 10px;
    }
    .jam--footer{
        margin: 5px;
    }
    .mapafooter{
        width: 80px;
        height: 70px;
    }
}

