@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: cursive;
  background-color: white;
}

.whatsapp {
  color: #D4E0EE;
  text-decoration: none;
  background-color: darkgreen;
  padding: 1rem 1rem;
  display: inline-block;
  bottom: 2rem;
  right: 2rem;
  position: fixed;
  z-index: 100;
}

.jam-close-rectangle {
  display: none;
}

.menu__icono {
  display: none;
}

.iniciotitulo {
  display: none;
}

.section {
  height: 250 auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.fondologo {
  width: 100px;
  height: 100px;
  margin: 0;
}

.menu {
  display: flex;
  background-color: #f5abb0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
  height: auto;
  position: fixed;
  z-index: 10;
}

.navegador {
  width: 100%;
  list-style: none;
  display: flex;
  margin: 10px;
  gap: 32px;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 0;
  padding-right: 0;
}

.navegador__la {
  color: black;
  text-decoration: none;
  border-radius: 3px;
  padding: 5px;
}

.navegador__la:hover {
  color: white;
  background-color: black;
  transition: 5s;
}

.nav {
  padding-top: 1rem;
  padding-right: 0;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.carrusel {
  padding-top: 6.2rem;
  width: 100%;
  height: 400%;
  border-bottom: 2px solid #f5abb0;
}

.carrusel__img {
  width: 100%;
  height: 400px;
  object-fit: contain;
  text-align: center;
}

.carrusel__titulo {
  text-align: center;
  background-color: black;
  color: #CCABDB;
  text-align: 20px;
  width: 40%;
  padding: 10px;
  margin-left: 2%;
  font-family: "fantasy";
}

.carrusel__pa {
  text-align: justify;
  background-color: black;
  color: white;
  width: 32%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 1rem;
  margin-left: 35%;
}

.focus-in-expand {
  -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.subtitulos {
  color: black;
  font-size: 25px;
  border: 1px solid gray;
  background-color: #f5abb0;
  text-decoration: none;
  width: 280px;
}

.subtitulos {
  font-family: "fantasy";
  color: white;
  padding: 5px;
  height: auto;
  margin: 5px;
  text-align: center;
}

.subtitulos:hover {
  color: black;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
}

.inicio-fondo {
  background-image: url(../imagenes/fondo1.jpg);
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2rem;
}

.inicio-parrafo {
  margin-top: 2rem;
  text-align: center;
  margin-left: 2rem;
  color: white;
}

.tipfoto {
  width: 400px;
  height: 250px;
  margin-top: 1rem;
  margin-left: 20px;
  margin-bottom: 1rem;
}

.inicioflex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  height: auto;
}

.gradientes {
  width: 280px;
  height: 350px;
  border: 1px solid gray;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.foto {
  margin: 1rem;
  color: white;
  width: 240px;
  height: 250px;
}

.contenedor {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: auto;
  margin-bottom: 2rem;
}

.contenedor figure {
  position: relative;
  height: 290px;
  width: 220px;
  border-radius: 6px;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.contenedor figure img {
  width: 100%;
  height: 100%;
  transition: all 500ms ease-out;
}

.contenedor figure .capa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 192, 203, 0.6);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

.contenedor figure:hover > .capa {
  opacity: 1;
  visibility: visible;
}

.contenedor figure:hover > .capa h3 {
  margin-top: 100px;
  color: white;
  font-family: cursive;
  padding: 5px;
}

.sectionturno {
  background-image: url("../imagenes/alis (1).jpg");
  background-size: contain;
  width: 100%;
  height: 450px;
  padding-top: 4rem;
  text-align: center;
}

.turno__titulo {
  font-family: 'Times New Roman', Times, serif;
  background-color: black;
  color: white;
  font-size: 50px;
  text-align: center;
  padding: 1rem;
  width: 30%;
  height: auto;
  margin-top: 200px;
}

.fondoturnos {
  padding: 1rem;
  min-height: 400px;
  border: 2px solid gainsboro;
  text-align: center;
}

.turno {
  display: inline;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  color: white;
  background-color: black;
  width: 30%;
  padding: 4px;
  text-align: center;
}

.button__turno {
  background-color: #f5abb0;
  color: aliceblue;
  font-weight: bold;
  width: 50%;
  padding: 15px;
  border: 2px solid white;
  border-radius: 5px;
  text-align: center;
}

.button__turno:hover {
  width: 55%;
  box-shadow: 5px 25px 30px rgba(0, 0, 0, 0.5);
}

.parrafoturno {
  margin-top: 2rem;
  padding: 2px;
  font-family: "fantasy";
}

.sectionservicios {
  background-image: url("../imagenes/imagenes (2).jpg");
  background-size: contain;
  padding-top: 6.2rem;
  width: 100%;
  height: 450px;
  text-align: center;
}

.servicio__parraf {
  color: black;
  font-size: 30px;
  background-color: white;
  width: 70%;
  padding: 5px;
  height: auto;
  margin: 1rem;
  margin-left: 2rem;
}

.servicio__titulo {
  font-family: 'Times New Roman', Times, serif;
  background-color: black;
  color: white;
  font-size: 50px;
  text-align: center;
  padding: 1rem;
  width: 25%;
  height: auto;
  margin-top: 100px;
  margin-left: 2rem;
}

.sectionservi {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: auto;
}

.articleservi {
  margin: 10px;
  color: white;
  font-weight: 500;
  width: 90%;
  font-size: 1rem;
  padding: 5px;
  background-color: pink;
}

.sub__servi {
  padding: 5px;
  text-align: center;
  font-size: 18px;
  color: white;
}

.sub__servi {
  font-family: "Thimes";
  font-weight: 100;
}

.fotosuñas {
  border: 1px solid white;
  width: 200px;
  height: 200px;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 105px;
  margin-left: 10px;
}

.parrafos {
  font-size: 15px;
  color: black;
  height: auto;
  padding: 5px;
}

.focus-in-contract {
  -webkit-animation: focus-in-contract 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: focus-in-contract 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.tituloinsta {
  font-size: 38px;
  text-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
  font-family: cursive;
  text-align: center;
  color: black;
}

.insta {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: auto;
  margin-left: 10%;
  margin-right: 10%;
}

.instag {
  width: 280px;
  height: 420px;
  margin-bottom: 1rem;
  margin: 2rem;
}

.titulo2 {
  font-family: 'Times New Roman', Times, serif;
  background-color: white;
  color: black;
  font-size: 50px;
  text-align: center;
  padding: 1rem;
  width: 70%;
  height: auto;
  margin-bottom: 2rem;
}

.fondo {
  background-color: white;
  padding-top: 6.2rem;
  width: 100%;
  height: auto;
  margin: 0;
}

.fondo__promo {
  background-image: url("../imagenes/alis (2).jpg");
  background-size: contain;
  width: 100%;
  height: 450px;
  padding: 3rem;
  text-align: center;
}

.fondo__parraf {
  color: white;
  font-size: 30px;
  background-color: black;
  width: 60%;
  height: auto;
  margin: 1rem;
}

.imagenpromo {
  width: 380px;
  height: 300px;
  border-radius: 1rem;
  margin: 1rem;
}

.subpromo {
  text-align: center;
  font-size: 35px;
  color: black;
  font-family: "fantasy";
}

.promocionesfondo {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #f5abb0;
  height: auto;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.parraf {
  color: white;
  font-size: 20px;
  text-align: justify;
}

.contacto__titulo {
  font-family: 'Times New Roman', Times, serif;
  background-color: black;
  color: white;
  font-size: 50px;
  text-align: center;
  padding: 1rem;
  width: 30%;
  height: auto;
  margin-top: 300px;
}

.contacto {
  color: #f5abb0;
  text-align: center;
  padding-bottom: 15px;
  font-size: 24px;
  font-family: "fantasy";
}

.fondocontacto {
  border: 2px solid pink;
  text-align: center;
  width: 400px;
  background: rgba(0, 0, 0, 0);
  padding: 10px 15px;
  box-sizing: border-box;
  margin-top: 15px;
  border-radius: 7px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.type {
  background-color: pink;
  color: gray;
  width: 90%;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 7px;
  font-size: 15px;
  border: none;
}

.mensaje {
  font-size: 15px;
  color: #b99090;
}

.mapa {
  width: 500px;
  margin-top: 1rem;
}

.botone {
  background-color: pink;
  color: aliceblue;
  font-weight: bold;
  width: 120px;
  padding: 8px;
  border: 2px solid white;
  border-radius: 5px;
  text-align: center;
}

.botone:hover {
  width: 150px;
  padding: 10px;
}

.sectioncontacto {
  background-image: url("../imagenes/imagenes (3).jpg");
  background-size: contain;
  width: 100%;
  height: 450px;
  padding: 3rem;
  text-align: center;
}

.fondofooter {
  background-color: black;
  text-align: center;
  list-style: none;
  width: 100%;
}

.logofooter {
  margin: 2rem;
}

.jam--footer {
  margin: 8px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  padding: 5px;
  background-color: cadetblue;
}

.jam--footer:hover {
  background-color: #f5abb0;
  transition: 5s;
}

.titulofooter {
  color: white;
  font-size: 18px;
  margin: 1rem;
}

.redes {
  text-decoration: none;
}

@media screen and (max-width: 1023px) {
  .menu {
    flex-direction: column;
  }
  .navegador__la {
    color: black;
    text-decoration: none;
    padding: 5px;
    border-radius: 3px;
  }
  .navegador__la:hover {
    color: white;
    background-color: black;
    transition: 5s;
  }
  .nav {
    padding: 0;
    margin: 0;
  }
  .seccion {
    margin: 60px 0 2px 0;
  }
  .figura {
    display: none;
  }
  .insta__no {
    display: none;
  }
  .tipfoto {
    width: 300px;
    height: 240px;
  }
  .fondo {
    margin: 0;
    padding-top: 8rem;
  }
  .fondologo {
    width: 85px;
    height: 85px;
  }
  .titulo2 {
    font-size: 35px;
    width: 100%;
  }
  .turno {
    font-size: 25px;
    margin: 2rem;
  }
  .fondoturnos {
    min-height: 300px;
  }
  .fotosuñas {
    width: 190px;
    height: 190px;
    margin-left: 24px;
  }
  .contacto {
    padding-bottom: 12px;
    font-size: 18px;
  }
  .fondocontacto {
    width: 350px;
    padding: 8px 12px;
    margin-top: 12px;
    padding-bottom: 15px;
  }
  .type {
    width: 80%;
    font-size: 14px;
  }
  .mensaje {
    font-size: 14px;
  }
  .sectioncontacto {
    height: 350px;
  }
  .contacto__titulo {
    font-size: 35px;
    text-align: center;
    padding: 1rem;
    width: 60%;
    height: auto;
    margin-top: 150px;
  }
  .mapa {
    width: 350px;
    height: 400px;
    margin-left: 1rem;
  }
  .botone {
    width: 100px;
    padding: 5px;
  }
  .button__turno {
    width: 40%;
    padding: 12px;
  }
  .section {
    height: 200 auto;
    width: 100%;
    display: flex;
  }
  .imagenpromo {
    width: 300px;
    height: 250px;
    border-radius: 2rem;
    padding: 5px;
  }
  .subpromo {
    font-size: 30px;
  }
  .promo {
    font-size: 25px;
  }
  .sectionturno {
    width: 100%;
    height: 350px;
    padding: 3rem;
    text-align: center;
  }
  .turno__titulo {
    font-size: 40px;
    text-align: center;
    padding: 10px;
    width: 80%;
    height: auto;
    margin-top: 200px;
  }
  .sectionservicios {
    height: 350px;
    padding: 3rem;
    text-align: center;
  }
  .servicio__parraf {
    font-size: 25px;
    width: 70%;
    height: auto;
    margin: 1rem;
  }
  .servicio__titulo {
    font-size: 40px;
    text-align: center;
    padding: 1rem;
    width: 50%;
    height: auto;
    margin-top: 100px;
  }
  .sectionservi {
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
  }
  .articleservi {
    width: 40%;
  }
  .sub__servi {
    font-size: 16px;
  }
  .insta {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .instag {
    width: 240px;
    height: 400px;
    margin: 1rem;
  }
}

.parrafos {
  font-size: 14px;
  padding: 8px;
}

.inicioflex {
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
}

.gradientes {
  width: 300px;
  height: 340px;
}

.foto {
  width: 220px;
  height: 240px;
  margin: 1.5rem;
}

.subtitulos {
  font-size: 18px;
  margin: 10px;
  padding: 8px;
  margin-left: 2rem;
}

.subtitulos {
  font-family: "fantasy";
  color: white;
  width: 300px;
  height: auto;
}

.fondo__promo {
  height: 350px;
  padding: 3rem;
  text-align: center;
}

.titulo2 {
  font-family: 'Times New Roman', Times, serif;
  background-color: white;
  color: black;
  font-size: 40px;
  text-align: center;
  padding: 10px;
  width: 50%;
  height: auto;
  margin-bottom: 1rem;
}

.fondo__parraf {
  color: white;
  font-size: 20px;
  background-color: black;
  width: 60%;
  height: auto;
  margin: 1rem;
}

.jam--footer1 {
  display: none;
}

.titulofooter {
  font-size: 16px;
}

@media screen and (max-width: 600px) {
  .nav {
    display: none;
  }
  .navegador__la {
    color: black;
    text-decoration: none;
  }
  .menu {
    flex-direction: row;
    margin: 0;
  }
  .menu__icono {
    display: flex;
    color: black;
  }
  .menu__icono:hover {
    color: white;
  }
  .seccion {
    margin: 1rem 0px;
    padding: 0;
  }
  .inicioflex {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .gradientes {
    margin-bottom: 1rem;
  }
  .foto {
    width: 210px;
    height: 220px;
    margin-left: 8px;
  }
  .inicio-parrafo {
    margin-top: 1rem;
    text-align: justify;
    padding-right: 10px;
    margin-left: 0;
    font-size: 14px;
    margin: 1rem;
  }
  .row > {
    padding-left: 0;
  }
  .tipfoto {
    width: 90%;
    height: 200px;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .contenedor {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
  }
  .contenedor figure {
    width: 100%;
    height: 260px;
  }
  .subtitulos {
    font-size: 17px;
    text-align: center;
  }
  .subtitulos {
    font-family: "fantasy";
    color: black;
    width: 200px;
    height: auto;
    border: 2px solid gainsboro;
    margin-left: 1rem;
  }
  .fondo {
    background: white;
    width: 100%;
    margin: 0;
    padding-top: 3.5rem;
  }
  .fondologo {
    width: 70px;
    height: 80px;
    margin: 0;
  }
  .fondofooter {
    font-size: 14px;
    width: 100%;
  }
  #lateral {
    display: block;
    background-image: linear-gradient(to bottom, #f5abb0, white);
    width: 50%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 100;
    transition: left 2s;
    color: black;
  }
  #lateral:target {
    left: 0;
  }
  .jam-close-rectangle {
    display: flex;
  }
  .navegador {
    flex-direction: column;
    margin-top: 2rem;
  }
  .turno {
    font-size: 20px;
    margin: 2rem;
  }
  .fondoturnos {
    min-height: 400px;
  }
  .fotosuñas {
    border: 2px solid plum;
    width: 100px;
    height: 100px;
    border-radius: 12px;
    margin: 1rem;
    text-align: center;
  }
  .contacto {
    font-size: 16px;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
  .row--contacto {
    margin-left: 0;
    padding: 0;
  }
  .fondocontacto {
    width: 250px;
    background: rgba(0, 0, 0, 0);
    padding: 4px 8px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-left: 5px;
    border-radius: 5px;
    padding-bottom: 15px;
    margin-bottom: 6px;
  }
  .mensaje {
    font-size: 14px;
  }
  .type {
    background-color: pink;
    color: gray;
    width: 80%;
    margin-bottom: 12px;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 5px 1rem 5px;
    font-size: 12px;
    border: none;
  }
  .sectioncontacto {
    width: 100%;
    height: 300px;
    padding: 3rem;
    text-align: center;
  }
  .contacto__titulo {
    font-size: 30px;
    text-align: center;
    padding: 1rem;
    width: 90%;
    height: auto;
    margin-top: 150px;
  }
  .sectionservicios {
    height: 300px;
    padding: 3rem;
    text-align: center;
  }
  .servicio__parraf {
    font-size: 15px;
    width: 100%;
    height: auto;
    margin-top: 3rem;
    margin-left: 5px;
    padding: 5px;
  }
  .servicio__titulo {
    font-size: 25px;
    text-align: center;
    padding: 1rem;
    width: 70%;
    height: auto;
    margin-top: 40px;
  }
  .sectionturno {
    width: 100%;
    height: 300px;
    padding: 3rem;
    text-align: center;
  }
  .turno {
    font-size: 16px;
  }
  .parrafoturno {
    font-size: 13px;
    margin-top: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .parraf-turno {
    font-size: 15px;
  }
  .turno__titulo {
    font-size: 30px;
    text-align: center;
    padding: 10px;
    width: 80%;
    height: auto;
    margin-top: 160px;
  }
  .botone {
    width: 90px;
  }
  .botone:hover {
    width: 110px;
  }
  .mapa-contacto {
    width: 90%;
  }
  .mapa {
    width: 100%;
    height: 210px;
  }
  .button__turno {
    width: 96%;
    padding: 10px;
    font-size: 14px;
  }
  .button__turno:hover {
    width: 98%;
  }
  .section {
    height: 200 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .row__promo {
    margin-left: 10px;
  }
  .promocionesfondo {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 5px;
    margin-bottom: 10px;
  }
  .imagenpromo {
    width: 200px;
    height: 200px;
    padding: 5px;
    margin: 0;
    border-radius: 1px;
  }
  .subpromo {
    text-align: center;
    font-size: 20px;
    color: black;
  }
  .parraf {
    text-align: justify;
    font-size: 15px;
  }
  .promo {
    font-size: 18px;
  }
  .sectionservi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
  }
  .articleservi {
    justify-content: center;
    width: 80%;
    padding: 10px;
    margin: 10px 2rem 10px 2rem;
  }
  .sub__servi {
    font-size: 16px;
  }
  .fotosuñas {
    width: 200px;
    height: 200px;
    border-radius: 105px;
  }
  .parrafos {
    font-size: 14px;
    padding: 5px;
  }
  .tituloinsta {
    font-size: 20px;
  }
  .button__turno {
    width: 60%;
  }
  .carrusel {
    width: 100%;
    height: auto;
    padding-top: 4rem;
  }
  .carrusel__titulo {
    text-align: center;
    background-color: black;
    color: #CCABDB;
    width: 80%;
    padding: 10px;
  }
  .carrusel__pa {
    display: none;
  }
  .carrusel__img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  .iniciotitulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  }
  .fondo__promo {
    width: 100%;
    height: 300px;
    padding: 1rem;
    text-align: center;
  }
  .titulo2 {
    margin-top: 2rem;
    color: black;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    width: 100%;
    height: auto;
  }
  .fondo__parraf {
    color: white;
    font-size: 14px;
    background-color: black;
    width: 100%;
    height: auto;
    margin-left: 2%;
    padding: 10px;
    margin-bottom: 5px;
    margin-top: 5rem;
  }
  .insta {
    width: 86%;
    margin-left: 7%;
    margin-right: 7%;
  }
  .instag {
    width: 86%;
    height: 350px;
    margin: 0;
  }
  .insta__no {
    display: none;
  }
  .logofooter {
    width: 80px;
    height: 80px;
  }
  .titulofooter {
    font-size: 15px;
    margin: 8px;
  }
  .jam--footer {
    margin: 5px;
    border-radius: 3px;
    padding: 3px;
  }
  .mapafooter {
    width: 80px;
    height: 70px;
  }
}
/*# sourceMappingURL=style.css.map */