@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: cursive;
  background-color: white;
}

.whatsapp {
  color: #D4E0EE;
  text-decoration: none;
  background-color: darkgreen;
  padding: 1rem 1rem;
  display: inline-block;
  bottom: 2rem;
  right: 2rem;
  position: fixed;
}

.jam-close-rectangle {
  display: none;
}

.menu__icono {
  display: none;
}

.iniciotitulo {
  display: none;
}

.section {
  height: 250 auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Agregando mixin en inicio y en servicios */
.sub__servi {
  font-family: "Cambria";
  font-weight: 100px;
}

.subtitulos {
  font-family: "fantasy";
  color: black;
  width: 250px;
  height: auto;
  border: 2px solid gainsboro;
}

.fondologo {
  width: 100px;
  height: 100px;
  margin: 0;
}

.menu {
  display: flex;
  background-color: #f5abb0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 10;
  margin: 0;
}

.navegador {
  width: 100%;
  list-style: none;
  display: flex;
  margin: 10px;
  gap: 32px;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 0;
  padding-right: 0;
}

.navegador__la {
  color: black;
  text-decoration: none;
}

.nav {
  padding-top: 1rem;
  padding-right: 0;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.carrusel {
  width: 100%;
  height: 400%;
}

.carrusel__img {
  width: 100%;
  height: 400px;
  object-fit: contain;
  text-align: center;
}

.carrusel__titulo {
  text-align: center;
  background-color: black;
  color: #CCABDB;
  text-align: 20px;
  width: 40%;
  padding: 10px;
  margin-left: 2%;
}

.carrusel__pa {
  text-align: justify;
  background-color: black;
  color: white;
  width: 32%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 1rem;
  margin-left: 35%;
}

.focus-in-expand {
  -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.subtitulos {
  color: white;
  font-size: 28px;
  margin: 1rem;
  text-align: center;
}

.subtitulos {
  font-family: "fantasy";
  color: black;
  width: 250px;
  height: auto;
  border: 2px solid gainsboro;
}

.foto {
  color: white;
  border: 3px solid;
  border-radius: 20px;
  margin: 1rem;
  width: 250px;
  height: 250px;
}

.foto--transform {
  transition: all 2s;
  transition: width 3s height 3s;
}

.gradientes:hover .foto--transform {
  width: 300px;
  height: 300px;
}

.card {
  background-color: #CCABDB;
  padding: 2rem;
  margin: 20px;
}

.sectionturno {
  background-image: url("../imagenes/alis (1).jpg");
  background-size: contain;
  width: 100%;
  height: 450px;
  padding: 3rem;
  text-align: center;
}

.turno__titulo {
  font-family: 'Times New Roman', Times, serif;
  background-color: black;
  color: white;
  font-size: 50px;
  text-align: center;
  padding: 1rem;
  width: 30%;
  height: auto;
  margin-top: 300px;
}

.fondoturnos {
  padding: 1rem;
  min-height: 300px;
  border: 2px solid gainsboro;
  text-align: center;
}

.turno {
  margin: 2rem;
  font-size: 30px;
  color: black;
  text-align: center;
}

.button__turno {
  background-color: #f5abb0;
  color: aliceblue;
  font-weight: bold;
  width: 50%;
  padding: 15px;
  border: 2px solid white;
  border-radius: 5px;
  text-align: center;
}

.sectionservicios {
  background-image: url("../imagenes/imagenes (2).jpg");
  background-size: contain;
  width: 100%;
  height: 450px;
  padding: 3rem;
  text-align: center;
}

.servicio__parraf {
  color: white;
  font-size: 30px;
  background-color: black;
  width: 60%;
  height: auto;
  margin: 1rem;
}

.servicio__titulo {
  font-family: 'Times New Roman', Times, serif;
  background-color: black;
  color: white;
  font-size: 50px;
  text-align: center;
  padding: 1rem;
  width: 30%;
  height: auto;
  margin-top: 100px;
}

.sectionservi {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: auto;
}

.articleservi {
  margin: 1rem;
  color: white;
  font-weight: 500;
  width: 90%;
  font-size: 1rem;
  border-radius: 2rem;
  padding: 1rem;
  background-color: pink;
}

.sub__servi {
  text-align: center;
  font-size: 18px;
  color: white;
}

.sub__servi {
  font-family: "Thimes";
  font-weight: 100;
}

.fotosuñas {
  border: 4px solid gray;
  width: 200px;
  height: 200px;
  border-radius: 16px;
  margin: 8px;
}

.parrafos {
  font-size: 14px;
  color: black;
  height: auto;
  padding: 10px;
}

.titulo2 {
  font-family: 'Times New Roman', Times, serif;
  background-color: white;
  color: black;
  font-size: 50px;
  text-align: center;
  padding: 1rem;
  width: 40%;
  height: auto;
  margin-bottom: 2rem;
}

.fondo {
  background-color: white;
  margin: 2rem 0 0;
  width: 100%;
}

.fondo__promo {
  background-image: url("../imagenes/alis (2).jpg");
  background-size: contain;
  width: 100%;
  height: 450px;
  padding: 3rem;
  text-align: center;
}

.fondo__parraf {
  color: white;
  font-size: 30px;
  background-color: black;
  width: 60%;
  height: auto;
  margin: 1rem;
}

.imagenpromo {
  width: 400px;
  height: 300px;
  border-radius: 1rem;
  margin: 1rem;
}

.subpromo {
  text-align: center;
  font-size: 35px;
  color: black;
}

.promo {
  font-size: 25px;
  text-align: center;
}

.promocionesfondo {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #f5abb0;
  height: auto;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.parraf {
  color: white;
  font-size: 20px;
  text-align: justify;
}

.contacto__titulo {
  font-family: 'Times New Roman', Times, serif;
  background-color: black;
  color: white;
  font-size: 50px;
  text-align: center;
  padding: 1rem;
  width: 30%;
  height: auto;
  margin-top: 300px;
}

.contacto {
  color: #f5abb0;
  text-align: center;
  padding-bottom: 15px;
  font-size: 24px;
}

.fondocontacto {
  border: 2px solid pink;
  text-align: center;
  width: 400px;
  background: rgba(0, 0, 0, 0);
  padding: 10px 15px;
  box-sizing: border-box;
  margin-top: 15px;
  border-radius: 7px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.type {
  background-color: pink;
  color: gray;
  width: 90%;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 7px;
  font-size: 15px;
  border: none;
}

.mensaje {
  font-size: 15px;
  color: #b99090;
}

.mapa {
  width: 500px;
  margin-top: 1rem;
}

.botone {
  background-color: pink;
  color: aliceblue;
  font-weight: bold;
  width: 120px;
  padding: 8px;
  border: 2px solid white;
  border-radius: 5px;
  text-align: center;
}

.sectioncontacto {
  background-image: url("../imagenes/imagenes (3).jpg");
  background-size: contain;
  width: 100%;
  height: 450px;
  padding: 3rem;
  text-align: center;
}

.fondofooter {
  background-color: #f5abb0;
  text-align: center;
  list-style: none;
  width: 100%;
}

.logofooter {
  margin: 2rem;
}

.jam--footer {
  margin: 10px;
  color: white;
  text-decoration: none;
}

.titulofooter {
  color: black;
  font-size: 18px;
  margin: 1rem;
}

.redes {
  text-decoration: none;
}

@media screen and (max-width: 1023px) {
  .menu {
    flex-direction: column;
  }
  .navegador__la {
    color: black;
    text-decoration: none;
  }
  .nav {
    padding: 0;
    margin: 0;
  }
  .seccion {
    margin: 60px 0 2px 0;
  }
  .fondo {
    margin: 3rem 0 0;
  }
  .fondologo {
    width: 85px;
    height: 85px;
  }
  .titulo2 {
    font-size: 35px;
  }
  .turno {
    font-size: 25px;
    margin: 2rem;
  }
  .fondoturnos {
    min-height: 300px;
  }
  .fotosuñas {
    border: 3px solid plum;
    width: 150px;
    height: 150px;
    border-radius: 14px;
    margin: 1rem;
  }
  .contacto {
    padding-bottom: 12px;
    font-size: 18px;
  }
  .fondocontacto {
    width: 350px;
    padding: 8px 12px;
    margin-top: 12px;
    padding-bottom: 15px;
  }
  .type {
    width: 80%;
    font-size: 14px;
  }
  .mensaje {
    font-size: 14px;
  }
  .sectioncontacto {
    height: 350px;
  }
  .contacto__titulo {
    font-size: 35px;
    text-align: center;
    padding: 1rem;
    width: 60%;
    height: auto;
    margin-top: 150px;
  }
  .mapa {
    width: 350px;
    height: 400px;
    margin-left: 1rem;
  }
  .botone {
    width: 100px;
    padding: 5px;
  }
  .button__turno {
    width: 40%;
    padding: 12px;
  }
  .section {
    height: 200 auto;
    width: 100%;
    display: flex;
  }
  .imagenpromo {
    width: 300px;
    height: 250px;
    border-radius: 2rem;
    padding: 5px;
  }
  .subpromo {
    font-size: 30px;
  }
  .promo {
    font-size: 25px;
  }
  .sectionturno {
    width: 100%;
    height: 350px;
    padding: 3rem;
    text-align: center;
  }
  .turno__titulo {
    font-size: 40px;
    text-align: center;
    padding: 10px;
    width: 80%;
    height: auto;
    margin-top: 200px;
  }
  .sectionservicios {
    height: 350px;
    padding: 3rem;
    text-align: center;
  }
  .servicio__parraf {
    font-size: 25px;
    width: 70%;
    height: auto;
    margin: 1rem;
  }
  .servicio__titulo {
    font-size: 40px;
    text-align: center;
    padding: 1rem;
    width: 50%;
    height: auto;
    margin-top: 100px;
  }
  .sectionservi {
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
  }
  .articleservi {
    width: 40%;
  }
  .sub__servi {
    font-size: 14px;
  }
  .parrafos {
    font-size: 9px;
    padding: 8px;
  }
  .foto {
    width: 150px;
    height: 150px;
    border: 3px solid;
    border-radius: 15px;
    margin: 15px;
  }
  .card {
    padding: 10px;
    margin: 18px;
  }
  .subtitulos {
    font-size: 18px;
  }
  .subtitulos {
    font-family: "fantasy";
    color: black;
    width: 180px;
    height: auto;
    border: 2px solid gainsboro;
  }
  .gradientes:hover .foto--transform {
    width: 200px;
    height: 200px;
  }
}

.fondo__promo {
  height: 350px;
  padding: 3rem;
  text-align: center;
}

.titulo2 {
  font-family: 'Times New Roman', Times, serif;
  background-color: white;
  color: black;
  font-size: 40px;
  text-align: center;
  padding: 10px;
  width: 50%;
  height: auto;
  margin-bottom: 1rem;
}

.fondo__parraf {
  color: white;
  font-size: 20px;
  background-color: black;
  width: 60%;
  height: auto;
  margin: 1rem;
}

@media screen and (max-width: 600px) {
  .nav {
    display: none;
  }
  .navegador__la {
    color: black;
    text-decoration: none;
  }
  .menu {
    flex-direction: row;
    margin: 0;
  }
  .menu__icono {
    display: flex;
    color: black;
  }
  .seccion {
    margin: 1rem 0px;
    padding: 0;
  }
  .foto {
    text-align: center;
    width: 120px;
    height: 120px;
    border: 3px solid;
    border-radius: 12px;
    margin: 5px;
  }
  .card {
    padding: 5px;
    margin: 8px;
  }
  .subtitulos {
    font-size: 14px;
  }
  .subtitulos {
    font-family: "fantasy";
    color: black;
    width: 120px;
    height: auto;
    border: 2px solid gainsboro;
  }
  .gradientes:hover .foto--transform {
    width: 145px;
    height: 145px;
  }
  .fondo {
    background: white;
    width: 100%;
    margin: 0;
  }
  .fondologo {
    width: 70px;
    height: 80px;
    margin: 0;
  }
  .fondofooter {
    font-size: 14px;
    width: 100%;
  }
  #lateral {
    display: block;
    background-image: linear-gradient(to bottom, #f5abb0, white);
    width: 50%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 100;
    transition: left 2s;
    color: black;
  }
  #lateral:target {
    left: 0;
  }
  .jam-close-rectangle {
    display: flex;
  }
  .navegador {
    flex-direction: column;
  }
  .turno {
    font-size: 20px;
    margin: 2rem;
  }
  .fondoturnos {
    min-height: 400px;
  }
  .fotosuñas {
    border: 2px solid plum;
    width: 100px;
    height: 100px;
    border-radius: 12px;
    margin: 1rem;
    text-align: center;
  }
  .contacto {
    font-size: 16px;
  }
  .fondocontacto {
    width: 280px;
    background: rgba(0, 0, 0, 0);
    padding: 4px 8px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-left: 3rem;
    border-radius: 5px;
    padding-bottom: 15px;
    margin-bottom: 6px;
  }
  .mensaje {
    font-size: 15px;
  }
  .type {
    background-color: pink;
    color: gray;
    width: 80%;
    margin-bottom: 12px;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 5px 1rem 5px;
    font-size: 10px;
    border: none;
  }
  .sectioncontacto {
    width: 100%;
    height: 300px;
    padding: 3rem;
    text-align: center;
  }
  .contacto__titulo {
    font-size: 30px;
    text-align: center;
    padding: 1rem;
    width: 70%;
    height: auto;
    margin-top: 150px;
  }
  .sectionservicios {
    height: 300px;
    padding: 3rem;
    text-align: center;
  }
  .servicio__parraf {
    font-size: 18px;
    width: 85%;
    height: auto;
    margin: 1rem;
  }
  .servicio__titulo {
    font-size: 25px;
    text-align: center;
    padding: 1rem;
    width: 70%;
    height: auto;
    margin-top: 40px;
  }
  .sectionturno {
    width: 100%;
    height: 300px;
    padding: 3rem;
    text-align: center;
  }
  .turno__titulo {
    font-size: 30px;
    text-align: center;
    padding: 10px;
    width: 80%;
    height: auto;
    margin-top: 160px;
  }
  .botone {
    width: 90px;
  }
  .mapa {
    width: 300px;
    height: 200px;
    margin-left: 3rem;
    margin-bottom: 10px;
  }
  .button__turno {
    width: 20%;
    padding: 5px;
  }
  .section {
    height: 200 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .promocionesfondo {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .imagenpromo {
    width: 250px;
    height: 2500x;
    padding: 5px;
    margin: 5px;
    border-radius: 1rem;
  }
  .subpromo {
    text-align: center;
    font-size: 20px;
    color: black;
  }
  .parraf {
    text-align: center;
    font-size: 15px;
  }
  .promo {
    font-size: 18px;
  }
  .sectionservi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
  }
  .articleservi {
    justify-content: center;
    width: 80%;
    padding: 10px;
    margin: 10px 3rem 10px 3rem;
  }
  .sub__servi {
    font-size: 12px;
  }
  .fotosuñas {
    width: 200px;
    height: 200px;
    margin: 1rem;
  }
  .parrafos {
    font-size: 10px;
    padding: 5px;
  }
  .button__turno {
    width: 60%;
  }
  .carrusel {
    width: 100%;
    height: 250px;
  }
  .carrusel__titulo {
    text-align: center;
    background-color: black;
    color: #CCABDB;
    width: 80%;
    padding: 10px;
  }
  .carrusel__pa {
    background-color: black;
    color: white;
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 1rem;
  }
  .carrusel__img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  .iniciotitulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  }
  .fondo__promo {
    height: 300px;
    padding: 3rem;
    text-align: center;
  }
  .titulo2 {
    color: black;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    width: 80%;
    height: auto;
    margin-bottom: 1rem;
  }
  .fondo__parraf {
    color: white;
    font-size: 15px;
    background-color: black;
    width: 80%;
    height: auto;
    margin: 1rem;
    margin-left: 2%;
  }
  .logofooter {
    width: 80px;
    height: 80px;
  }
  .titulofooter {
    font-size: 15px;
    margin: 8px;
  }
  .jam--footer {
    margin: 5px;
  }
  .mapafooter {
    width: 80px;
    height: 70px;
  }
}
/*# sourceMappingURL=style.css.map */