* {
padding: 0;
margin: 0;
box-sizing: border-box;
}
body { 
    font-family: cursive;

}
.fondologo{ width: 100px;
    height: 100px;

}

.menu { display: flex;
    background-color: #f5abb0; 
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 10;
}
   .navegador{
    list-style: none;
    display: flex;
    margin: 1rem;
    gap: 32px;
    flex-direction: row;
    justify-content: space-between;
   }
    
.nav {
    padding:1rem 1rem 2rem;
    
}
.navegador__la{
     color:black;
     text-decoration: none;
    }

.seccion{
    width: 100%;
    padding: 1rem ;
}
.grid{
    border: 2px solid #555;
    padding: 1rem;
    min-height: 400px;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: 200px 200px ;
    gap: 8px;
    justify-items: stretch;
    align-items: stretch;
    justify-content: flex-start;
    align-content: flex-start;
    grid-template-areas: 
    "ele1 ele2 ele2"
    "ele3 ele4 ele5"; 
}
.grid__hijo{
    border: 1px solid pink;
    text-align: center;

}
.grid__imagen{
    object-fit: cover;
    width: 100%;
    height: 100%;
    padding: 0;

}
.grid__hijo--1{
    grid-area: ele1;
}

.grid__hijo--2{
    grid-area: ele2;
}
.grid__hijo--3{
    grid-area: ele3;
}
.grid__hijo--4{
    grid-area: ele4;
}
    .grid__hijo--5{
        grid-area: ele5;
    }
    .grid__hijo--6{
        grid-area: ele6;

    }
    

.titulo2{ 
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(163, 158, 163) ;
    color: whitesmoke ;
    font-size: 50px;
    text-align: center;
    margin: 1rem;      
}
.focus-in-expand {
	-webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-5-2 17:22:11
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation focus-in-expand
 * ----------------------------------------
 */
 @-webkit-keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  


.subtitulos{
    color: palevioletred;
font-size: 20px;
margin: 1rem;
text-align: center;

}
.promo {
    color: rgb(127, 98, 139);
    font-size: 40px;
    text-align: center;
}

.whatsapp {  color: #D4E0EE;
    text-decoration: none;
    background-color: darkgreen;
    padding: 1rem 1rem;
    display: inline-block;
    bottom: 2rem;
    right: 2rem; 
    position:fixed;}
   
.servi{
    background-color:#f5abb0;
    margin: 1rem;
     color: black;
text-align: center;
font-size: 40px;

}
.serviciouñas {
    color: #f5abb0;
text-align: center;
font-size: 30px;

}
.imag { height: 400px;
    width: 100%;
    background-image: linear-gradient(to bottom, #CCABDB, #86E3CE);
}

.imagenes {
    width: 100%;
    height: 400px;
    object-fit: contain;
    
}
.animacion{
    animation-name: desaparecer;
    animation-duration: 1s;
    animation-iteration-count: infinite;

}

@keyframes desaparecer {
    0%{ 
        opacity: 1;
    }
    50%{
        opacity: 0;

    }
    100%{
        opacity:1;
    }
    
}

   .flex{
     display: flex;
     flex-direction: row;
     justify-content: center;
     margin: 2rem;
     width: 100%;
    height:auto
   }

 .foto { display: inline-flex;
    text-align: center;
     color: rgb(185, 144, 144);
    border: 4px solid ;
    border-radius: 20px;
margin: 1rem;
width: 250px;
height: 250px;

}


.foto--transform{
    transition: all 2s;
    transition: width 3s height 3s;
    

}
.gradientes:hover .foto--transform{
    width: 300px;
    height: 300px;

}
.foto--animacion{ animation-name: coder;
    animation-duration: 4s;
    animation-iteration-count: 3;

}
@keyframes coder{
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }

}


.fondo { background-color: white;
    margin: 2rem 0 0;
         
}
.fondofooter{
    background-color: #f5abb0;
    text-align: center;
    list-style: none;
    

}
.titulofooter{ 
    color: black;
    font-size: 16px;


}


.contacto{
    color: #f5abb0;
    text-align: center;
    padding-bottom: 20px;
}
.fondocontacto{
    border: 2px solid pink;
    text-align: center;
    width: 450px;
    margin: auto;
    background: rgba(0, 0,0.4,0);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
    padding-bottom: 70px;
    

}
    .type{background-color: pink;
        color: gray;
        width: 100%;
        margin-bottom: 20px;
        box-sizing: border-box;
        border-radius: 8px;
        padding: 7px;
        font-size: 17px;
        border: none;
    }

.mensaje { font-size: 18px;
    color:rgb(185, 144, 144);
    
}
.botone{
    background-color: pink ;
    color: aliceblue;
    font-weight: bold;
    width: 120px;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 5px;
    text-align: center;
}

.fondoturnos { padding: 1rem;
    min-height: 300px;
    border: 2px solid gainsboro;
    text-align: center;

}

.turno{
margin: 2rem;
font-size: 30px ;
color: black;
text-align: center;


}
.button__turno{
    background-color: #f5abb0;
    color:aliceblue;
    font-weight: bold;
    width: 50%;
    padding: 15px;
    border: 2px solid rgba(0,51,102);
    border-radius: 5px;
    text-align: center;


}
.section{
    height: 250 auto;
    width: 100%;
    display: flex;
    justify-content: center;


}
.article{ height: auto;
    margin: 1rem;
    color: white;
    font-weight: 800;
    width: 40%;
    font-size: 1rem;
     border-radius: 2rem;
    padding: 2rem;
    background-color:#f5abb0;

}
.imagenpromo{
    width: 350px;
    height: 300px;
    border-radius: 2rem;
    text-align: center;
}
.subpromo{ 
    text-align: center;
    font-size: 35px ;
    color:black;}
    .promo{
        font-size: 25px;
        text-align: center;
    }

    .sectionservi{
        display:flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: auto;
    }
    .articleservi{
    margin: 1rem;
    color: white;
    font-weight: 500;
    width: 90%;
    font-size: 1rem;
     border-radius: 2rem;
    padding: 1rem;
    background-color:pink;

    }
    .sub__servi{
        text-align: center;
        font-size: 15px;
        color: white;
    }
    .fotosuñas{
        border: 4px solid gray;
        width: 200px;
        height: 200px;
        border-radius:16px;
        margin: 8px
    }

    .parrafos{ 
        font-size: 14px;
        color:black;
        height: auto;
        padding: 10px;


    }


.jam-close-rectangle{ display: none;

}

.menu__icono{
    display: none;
}

@media screen and (max-width: 1023px) {
    .menu{
        flex-direction: column;
    }
    .navegador__la{
        color:black;
        text-decoration: none;
       }
    .nav{
        padding:0;
        margin: 0;
    }
    .seccion{
        margin: 60px 0 2px 0;

    }
    .fondo {
        margin: 3rem 0 0;
    }
    .fondologo{
        width: 85px;
        height: 85px;
    }
    
    .foto{
        width:200px;
        height: 200px;
        border: 3px solid ;
        border-radius: 15px;
        margin: 0;
    }
    .grid{
        border: 2px solid #555;
        padding: 1rem;
        min-height: 300px;
        display: grid;
        grid-template-columns:repeat(3, 1fr);
        grid-template-rows: 150px 150px ;
        justify-items: stretch;
        align-items: stretch;
        justify-content: flex-start;
        align-content: flex-start;}
       .titulo2{
           font-size: 35px;
       }
        .imag{
            width: 100%;
            height: 300px;
           
               }
               .imagenes{
                   object-fit: contain;
                   width: 100%;
                    height: 300px;
               }
               .turno{
                   font-size: 25px;
                   margin: 2rem;
               }
               .fondoturnos{
                   min-height: 300px;
               }
               .servi{
                   font-size: 35px;
               }
               .serviciouñas{
                   font-size: 30px;
               }
               .fotosuñas{ border: 3px solid plum;
                width: 150px;
                height: 150px;
                border-radius:14px;
                margin: 1rem;
               }
            
    .contacto{
        font-size: 18px;
    }
    .fondocontacto{
        border: 2px solid pink;
        text-align: center;
        width: 300px;
        margin: auto;
        background: rgba(0, 0,0.4,0);
        padding: 8px 15px;
        box-sizing: border-box;
        margin-top: 18px;
        border-radius: 7px;
        padding-bottom: 60px;}
        .mensaje { font-size: 15px;}
        .type{background-color: pink;
            color: gray;
            width: 80%;
            margin-bottom: 15px;
            box-sizing: border-box;
            border-radius: 8px;
            padding: 6px 1rem 6px;
            font-size: 15px;
            border: none;}
            .button__turno{
                width:45% ;
                padding: 12px;
            }
            .section{
                height: 200 auto;
                width: 100%;
                display: flex;
                
        }

                .article{ height: auto;
                    margin: 1rem;
                    color: white;
                    font-weight: 700;
                    width: 400%;
                    font-size: 1rem;
                     border-radius: 2rem;
                    padding: 10px;
                    background-color:#f5abb0;
                    object-fit: cover;
                
                }
                .imagenpromo{
                    width: 250px;
                    height: 200px;
                    border-radius: 2rem;
                   padding: 5px;
                    
                }
                .subpromo{ 
                    text-align: center;
                    font-size: 24px ;
                    color:black}
        .promo{
            font-size: 25px;
        }

        .servi{ font-size: 30px;

        }
        .serviciouñas{
            font-size: 20px ;

        }
    .imag{
        width: 100%;
    }
    .sectionservi
    {
        flex-wrap: wrap;
        flex-direction: row;
        align-content: flex-start;
     
    }
    .articleservi{
        width:40% ;

    }
    .sub__servi{ font-size: 14px;

    }
    .parrafos{
        font-size: 9px;
        padding: 8px;
    }
    .gradientes:hover .foto--transform{
        width: 250px;
        height: 250px;}
}




@media screen and (max-width: 600px) {
  .nav {
    display:none;}
 .navegador__la{
    color:black;
    text-decoration: none;
   }

    .menu{
        flex-direction: row;
        
        
    }
    .menu__icono{
        display: flex;
       
    }
   

 .seccion{
    margin:1rem 0px;
    padding: 0;
  }
 .grid{
    border: 1px solid #555;
    padding: 10px;
    min-height: 200px;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: 100px 100px ;
    justify-items: stretch;
    align-items: stretch;
    justify-content: flex-start;
    align-content: flex-start;
 }
.titulo2{
    font-size: 25px;
    color: black;
    background-color: white;
 }
  .foto{
    width:100px;
    height: 100px;
    border: 2px solid ;
    border-radius: 10px;
    margin: 0;
  }
 .gradientes:hover .foto--transform{
    width: 180px;
    height: 180px;
 }
 .subtitulos{
    color: #c93384;
   font-size: 15px;
 margin:0 ;


  }
 .fondologo{
    width: 80px;
    height: 80px;
    
  }
 .fondo{
    background: white;
    width: 100%;
    margin:0;

  }
 .fondofooter{
    font-size: 14px;
   }
    .subtitulos{
        margin: 1rem 3rem 8px 3rem;

    }
    #lateral{
        display: block;
        background-image: linear-gradient(to bottom, #f5abb0, white);
        width: 50%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 100;
        transition: left 2s;
    }
    #lateral:target{
        left: 0;

    }
    .jam-close-rectangle{ display: flex;}

    .navegador{
        flex-direction: column;
    }
    .imag{
 width: 100%;
 height: 200px;

    }
    .imagenes{
        object-fit: contain;
        width: 100%;
         height: 200px;
    }
    .turno{
        font-size: 20px;
        margin: 2rem;
    }
    .fondoturnos{
        min-height: 250px;
    }
    .servi{
        font-size: 30px;
    }
    .serviciouñas{
        font-size: 20px;
    }
 .fotosuñas{ 
    border: 2px solid plum;
    width: 100px;
    height: 100px;
    border-radius:12px;
    margin: 1rem;
    text-align: center;

   }
   .contacto{
    font-size: 14px;}
 .fondocontacto{
    border: 2px solid pink;
    text-align: center;
    width: 250px;
    margin: auto;
    background: rgba(0, 0,0.4,0);
    padding: 5px 10px;
    box-sizing: border-box;
    margin-top: 8px;
    border-radius: 7px;
    padding-bottom: 40px;}
    .mensaje { font-size: 12px;}
    .type{background-color: pink;
        color: gray;
        width: 85%;
        margin-bottom: 12px;
        box-sizing: border-box;
        border-radius: 8px;
        padding: 6px 1rem 6px;
        font-size: 12px;
        border: none;}
        .button__turno{
            width:20% ;
            padding: 5px;
        }

        .section{
            height: 200 auto;
            width: 100%;
            display: flex;
            flex-direction: column;
           align-items: center;
        
        }
        .article{ height: auto;
            margin: 1rem;
            color: white;
            font-weight: 700;
            width: 80%;
            font-size: 1rem;
             border-radius: 2rem;
            padding: 1rem;
            background-color:#f5abb0;
        
        }
        .imagenpromo{
            width: 200px;
            padding: 10px;
            height: 150px;
            border-radius: 1rem;
            align-items: center;
            object-fit: cover;
        }
        .subpromo{ 
            text-align: center;
            font-size: 15px ;
            color:black;}
            .parraf{
                font-size: 8px;
            }
             .promo{
                font-size: 18px;
            }
            .sectionservi {
                display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
     
    }
    .articleservi{
        justify-content: center;
        width:80% ;
        padding: 10px;
        margin: 10px 3rem 10px 3rem;

    }
    .sub__servi{ font-size: 12px;

    }
    .fotosuñas{
        width: 200px;
        height: 200px;
        margin: 1rem;
    }
    .parrafos{
        font-size: 10px;
        padding: 5px;
    }
    .button__turno{
        width: 60%;
    }  
}

