.fondofooter{
    background-color: #f5abb0;
    text-align: center;
    list-style: none;
    width: 100%;
}
.logofooter{
    margin: 2rem;
    
    
}
.jam--footer{
    margin: 10px;
    color: black;
    text-decoration: none;
}

.titulofooter{ 
    color: white;
    font-size: 18px;
    margin: 1rem;

}
.redes {
    text-decoration: none;
}