.fondologo{ width: 120px;
    height: 120px;
    
    margin: 0;

}

.menu { display: flex;
    background-color: $color-principal;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
    height: auto;
    position: fixed;
    z-index: 10;
    
}
   .navegador{
       width: 100%;
    list-style: none;
    display: flex;
    margin: 10px;
    gap: 32px;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 0;
    padding-right: 0;
    
    

    &__la{
        color: black;
        text-decoration: none;
        border-radius: 3px;
        padding:5px;
       }
   }
   .navegador__la:hover {
       color: white;
       background-color: black;
       transition: 5s;
   }

   .nav {
    padding-top: 1rem;
    padding-right: 0;
    padding-bottom: 1rem;
    padding-left: 1rem;
    
}
    

