.fondologo{ width: 100px;
    height: 100px;
    margin: 0;

}

.menu { display: flex;
    background-color: $background-color-secundario;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 10;
    margin: 0;
}
   .navegador{
       width: 100%;
    list-style: none;
    display: flex;
    margin: 10px;
    gap: 32px;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 0;
    padding-right: 0;

    &__la{
        color: $color-palabras;
        text-decoration: none;
       }
   }
   .nav {
    padding-top: 1rem;
    padding-right: 0;
    padding-bottom: 1rem;
    padding-left: 1rem;
    
}
    

