.carrusel{
    width: 100%;
    height: 400%;
    border-bottom: 2px solid $background-color-principal;
    
    &__img{
      width: 100%;
      height: 400px;
      object-fit: contain;
      text-align: center; 
    
    }
    &__titulo{
      text-align: center; 
      background-color: $color-secundario;
      color:#CCABDB;
      text-align: 20px;
      width: 40%;
      padding: 10px;
      margin-left: 2%;
      font-family: "fantasy";
    }
    &__pa{
      text-align: justify; 
       background-color: $color-secundario;
      color: $color-palabras;
      width: 32%;
      padding-top: 10px;
      padding-bottom: 10px;
      margin: 1rem;
      margin-left: 35%;
    
        
       }
}


 .focus-in-expand {
    -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  .subtitulos{
    color: $color-secundario;
font-size: 25px;
border: 1px solid gray;
background-color: $background-color-principal;
box-shadow:0px 15px 25px rgba(0,0,0,0.50) ;
text-decoration: none;

}
@mixin subtitulos ( $font-family, $color) { 
  font-family: $font-family;
  color: $color;
}

.subtitulos {
  @include subtitulos ("fantasy", white);
  width:200px;
  padding: 5px;
  height: auto;

}
.subtitulos:hover{
  color: black;
}
.inicio-fondo{
 background-image: url(/imagenes/fondo1.jpg);
 width: 90%;
 margin-left: 5%;
 margin-right: 5%;
 margin-bottom: 2rem;
  
}
.inicio-parrafo{
  margin-top: 2rem;
  text-align: center;
  margin-left: 2rem;
  color: white;


  
 }
 .tipfoto{
   width: 400px;
   height: 250px;
   margin-top: 1rem;
   margin-left: 20px;
   margin-bottom: 1rem;
 }


.foto {  
     color:$color-palabras;
    border: 6px solid black;
    border-radius: 100px;
margin: 10px;
width: 200px;
height: 200px;

}


.foto--transform{
    transition: all 2s;
    transition: width 3s height 3s;
    .gradientes:hover &{
      width: 210px;
      height: 210px;
  
  }
    

}
.row{
  margin-right: 0;
  padding: 6px;
  margin-left: 1rem;
}

  


.contenedor{
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
 height: auto;
 margin-bottom: 2rem;
}
.contenedor figure {
  position:relative;
  height: 290px;
  width: 220px;
  border-radius: 6px;
  box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
  cursor: pointer;

}
.contenedor figure img{
  width:100%;
  height: 100%;
  transition: all 500ms ease-out;


}
.contenedor figure .capa{
  position:absolute;
  top:0;
  width: 100%;
  height: 100%;
  background: rgba(255,192,203,0.6);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}
.contenedor figure:hover > .capa{
  opacity: 1;
  visibility: visible;
}
.contenedor figure:hover > .capa h3{
  margin-top: 100px;
  color: white;
  font-family: cursive;
  padding: 5px;
}
