  
    @media screen and (max-width: 1023px) {
        .menu{
            flex-direction: column;
        }
        .navegador__la{
            color:black;
            text-decoration: none;
           }
        .nav{
            padding:0;
            margin: 0;
        }
        .seccion{
            margin: 60px 0 2px 0;
    
        }
        .fondo {
            margin: 3rem 0 0;
            &logo{
                width: 85px;
                height: 85px;
            }
        }
       
      
           .titulo2{
               font-size: 35px;
           }
            
                   .turno{
                       font-size: 25px;
                       margin: 2rem;
                   }
                   .fondoturnos{
                       min-height: 300px;
                   }
                  
                   .fotosuñas{ border: 3px solid plum;
                    width: 150px;
                    height: 150px;
                    border-radius:14px;
                    margin: 1rem;
                   }
                .contacto{
                    padding-bottom: 12px;
                    font-size: 18px;
                }
    
                .fondocontacto{
                    width: 350px;
                    padding: 8px 12px;
                    margin-top: 12px;
                    padding-bottom: 15px;
                }
                .type{
                    width: 80%;
                    font-size: 14px;
    
                }
                .mensaje{
                    font-size: 14px;
                }
                .sectioncontacto{
                    height:350px ;
                }
            .contacto__titulo{
            font-size: 35px;
            text-align: center;
            padding: 1rem;
            width:60%;
            height: auto;  
            margin-top: 150px;
            }
                .mapa{
                    width: 350px;
                    height: 400px;
                    margin-left: 1rem;
    
                }
                .botone{
                    width: 100px;
                    padding: 5px;
                }
    
    
                .button__turno{
                    width:40% ;
                    padding: 12px;
                }
                .section{
                    height: 200 auto;
                    width: 100%;
                    display: flex;
                    
            }
                    .imagenpromo{
                        width: 300px;
                        height: 250px;
                        border-radius: 2rem;
                       padding: 5px;
                        
                    }
                    .subpromo{
                        font-size: 30px;
                    }
                   
            .promo{
                font-size: 25px;
            }
         .sectionturno{        
            width: 100%;
            height: 350px;    
            padding: 3rem; 
            text-align: center;
            
            }
            .turno__titulo{
                 font-size: 40px;
                 text-align: center;
                 padding: 10px;
                 width: 80%;
                 height: auto;  
                 margin-top: 200px;}
                
            .sectionservicios{
            height: 350px;    
            padding: 3rem; 
            text-align: center;
            }
            .servicio__parraf{
                font-size: 25px;
                width: 70%;
                height: auto;
                margin: 1rem;
            
            }
            .servicio__titulo{
                 font-size: 40px;
                 text-align: center;
                 padding: 1rem;
                 width: 50%;
                 height: auto;  
                 margin-top: 100px;
            
            }   
        
        .sectionservi
        {
            flex-wrap: wrap;
            flex-direction: row;
            align-content: flex-start;
         
        }
        .articleservi{
            width:40% ;
    
        }
        .sub__servi{ font-size: 14px;
    
        }
        .parrafos{
            font-size: 9px;
            padding: 8px;
        }
        .foto{
            width:150px;
            height: 150px;
            border: 3px solid ;
            border-radius: 15px;
            margin: 15px;
    
        }
        .card{
            padding: 10px;
            margin: 18px;
        }
        .subtitulos{
            font-size: 18px;
        }
        @mixin subtitulos ( $font-family, $color) { 
            font-family: $font-family;
            color: $color;
        }
        
        .subtitulos {
            @include subtitulos ("fantasy", black);
            width:180px;
            height: auto;
            border: 2px solid gainsboro
        
        }
        
        .gradientes:hover .foto--transform{
            width: 200px;
            height: 200px;}
            
        
    }
    .fondo__promo{
    height: 350px;    
    padding: 3rem; 
    text-align: center;
    
    }
    .titulo2{ 
      font-family:'Times New Roman', Times, serif;
    background-color: $color-palabras;
    color: black ;
    font-size: 40px;
    text-align: center;
    padding: 10px;
    width: 50%;
    height: auto;  
    margin-bottom: 1rem;   
    }
    
    .fondo__parraf {
    color: white;
    font-size: 20px;
    background-color: $color-secundario;
    width: 60%;
    height: auto;
    margin: 1rem;
    }
    
    
    
    
    @media screen and (max-width: 600px) {
      .nav {
        display:none;}
     .navegador__la{
        color:black;
        text-decoration: none;
       }
    
        .menu{
            flex-direction: row;
            margin: 0;
            &__icono{
                display: flex;
                color: $color-secundario;
               
            }
        }
        
       
    
     .seccion{
        margin:1rem 0px;
        padding: 0;
      }
    
     
    
     .foto{
         text-align: center;
        width:120px;
        height: 120px;
        border: 3px solid ;
        border-radius: 12px;
        margin: 5px;}
    .card{
        padding: 5px;
        margin: 8px;
    }
    .subtitulos{
        font-size: 14px;
       
    }
    @mixin subtitulos( $font-family, $color) { 
        font-family: $font-family;
        color: $color;
    }
    
    .subtitulos {
        @include subtitulos ("fantasy", black);
        width:120px;
        height: auto;
        border: 2px solid gainsboro
    
    }
    
    .gradientes:hover .foto--transform{
        width: 145px;
        height: 145px;}
     
     .fondo{
        background: $color-palabras;
        width: 100%;
        margin:0;

        &logo{
            width: 70px;
            height: 80px;
            margin: 0;
             
          }
    
      }
      .fondofooter{
        font-size: 14px;
        width: 100%;
       }
     
        #lateral{
            display: block;
            background-image: linear-gradient(to bottom, #f5abb0, white);
            width: 50%;
            height: 100vh;
            position: fixed;
            top: 0;
            left: -100%;
            z-index: 100;
            transition: left 2s;
            color: $color-secundario;
        }
        #lateral:target{
            left: 0;
    
        }
        .jam-close-rectangle{ display: flex;}
    
        .navegador{
            flex-direction: column;
        }
      
        .turno{
            font-size: 20px;
            margin: 2rem;
        }
        .fondoturnos{
            min-height: 400px;
        }
      
     .fotosuñas{ 
        border: 2px solid plum;
        width: 100px;
        height: 100px;
        border-radius:12px;
        margin: 1rem;
        text-align: center;
    
       }
       .contacto{
        font-size: 16px;}
     .fondocontacto{
        width: 280px;
        background: rgba(0, 0,0.4,0);
        padding: 4px 8px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-left: 3rem;
        border-radius: 5px;
        padding-bottom: 15px;
         margin-bottom: 6px;}
        .mensaje { font-size: 15px;}
        .type{background-color: pink;
            color: gray;
            width: 80%;
            margin-bottom: 12px;
            box-sizing: border-box;
            border-radius: 8px;
            padding: 5px 1rem 5px;
            font-size: 10px;
            border: none;}
            .sectioncontacto{
                width: 100%;
    height: 300px;    
    padding: 3rem; 
    text-align: center;
    
            }
            .contacto__titulo{
                font-size: 30px;
        text-align: center;
        padding: 1rem;
        width:70%;
        height: auto;  
        margin-top: 150px;
    
            }
            .sectionservicios{
                height: 300px;    
                padding: 3rem; 
                text-align: center;
                }
                .servicio__parraf{
                    font-size: 18px;
                    width: 85%;
                    height: auto;
                    margin: 1rem;
                
                }
                .servicio__titulo{
                     font-size: 25px;
                     text-align: center;
                     padding: 1rem;
                     width: 70%;
                     height: auto;  
                     margin-top: 40px;
                
                } 
                .sectionturno{
                  
                width: 100%;
                height: 300px;    
                padding: 3rem; 
                text-align: center;
                
                }
                .turno__titulo{
                     font-size: 30px;
                     text-align: center;
                     padding: 10px;
                     width: 80%;
                     height: auto;  
                     margin-top: 160px;
                    
                }
            .botone{
                width: 90px;
    
            }
            .mapa{
                width: 300px;
                height: 200px;
                margin-left: 3rem;
                margin-bottom: 10px;
            }
    
    
            .button__turno{
                width:20% ;
                padding: 5px;
            }
    
            .section{
                height: 200 auto;
                width: 100%;
                display: flex;
                flex-direction: column;
               align-items: center;
            
            }
            .promocionesfondo{
                width: 80%;
                margin-left: 10%;
                margin-right: 10%;
    
            }
            .imagenpromo{
                width: 250px;
                height: 2500x;
                padding: 5px;
                margin: 5px;
               
                border-radius: 1rem;
                
            }
            .subpromo{ 
                text-align: center;
                font-size: 20px ;
                color:$color-secundario;}
                .parraf{
                    text-align: center;
                    font-size: 15px;
                }
                 .promo{
                    font-size: 18px;
                }
                .sectionservi {
                    display: flex;
            flex-direction: column;
            justify-content: center;
            height: auto;
         
        }
        .articleservi{
            justify-content: center;
            width:80% ;
            padding: 10px;
            margin: 10px 3rem 10px 3rem;
    
        }
        .sub__servi{ font-size: 12px;
    
        }
        .fotosuñas{
            width: 200px;
            height: 200px;
            margin: 1rem;
        }
        .parrafos{
            font-size: 10px;
            padding: 5px;
        }
        .button__turno{
            width: 60%;}  
    
        .carrusel{
            width: 100%;
            height: 250px;


            &__titulo{
                text-align: center; 
                background-color: $color-secundario;
                color:#CCABDB;
                width: 80%;
                padding: 10px;
              
                
            }
             &__pa{ 
                 background-color: $color-secundario;
                color: $color-palabras;
                width: 80%;
                padding-top: 10px;
                padding-bottom: 10px;
                margin: 1rem;
               
        
             }
            &__img{
              width: 100%;
              height: 250px;
                object-fit: cover;
        
            }


        }
        .iniciotitulo{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 1rem;
        }
        
        .fondo__promo{
            height: 300px;    
            padding: 3rem; 
            text-align: center;
            
            }
            .titulo2{ 
            
            color: $color-secundario ;
            font-size: 30px;
            text-align: center;
            padding: 10px;
            width: 80%;
            height: auto;  
            margin-bottom: 1rem;   
            }
            
            .fondo__parraf {
            color: $color-palabras;
            font-size: 15px;
            background-color: $color-secundario;
            width: 80%;
            height: auto;
            margin: 1rem;
            margin-left: 2%;
        
            }
            
     
        .logofooter{
            width: 80px;
            height: 80px;
        }
        .titulofooter{
            font-size: 15px;
            margin: 8px;
        }
        .jam--footer{
            margin: 5px;
        }
        .mapafooter{
            width: 80px;
            height: 70px;
        }
    }
    
    