
 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }
    body { 
        font-family: cursive;
        background-color: $background-color-palabras
    
    }
    .whatsapp {  color: #D4E0EE;
        text-decoration: none;
        border-radius: 2rem;
        background-color: darkgreen;
        padding: 1rem 1rem;
        display: inline-block;
        bottom: 2rem;
        right: 2rem; 
        position:fixed;
        z-index: 100;}
        .jam-close-rectangle{ display: none;
    
        }
        
        .menu__icono{
            display: none;
            padding-left: 1rem;
    
        }
        .iniciotitulo{
            display: none;
        }
        .section{
            height: 250 auto;
            width: 100%;
            display: flex;
            justify-content: center;
        
        
        }
        