
.titulo2{ 
  font-family:'Times New Roman', Times, serif;
background-color: $background-color-palabras;
color: $color-secundario ;
font-size: $font-size-principal;
text-align: center;
padding: 1rem;
width: 40%;
height: auto;  
margin-bottom: 2rem;   
}
.fondo { background-color: $background-color-palabras;
    
     width: 100%; 
     height: auto;   
     &__promo{
        background-image: url( "../imagenes/alis\ \(2\).jpg") ;
        background-size: contain;
    width: 100%;
    height: 450px;    
    padding: 3rem; 
    text-align: center;
    
    }
    &__parraf {
        color: $color-palabras;
        font-size: 30px;
        background-color:$background-color-secundario;
        width: 60%;
        height: auto;
        margin: 1rem;
        }
}


.imagenpromo{
    width: 400px;
    height: 300px;
    border-radius: 1rem;
    margin: 1rem;
    
}
.subpromo{
    text-align: center;
    font-size: 35px;
    color: $color-secundario;
    font-family: "fantasy";
    
}

    .promocionesfondo{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
         background-color: $background-color-principal;
         height: auto;
         border-radius: 1rem;
         padding: 1rem;
         margin-bottom: 2rem;
         margin-top: 1rem;
     }
     .parraf {
        color:$color-palabras;
        font-size: 20px;
        text-align: justify;
    }
