.fondo__promo{
    background-image: url( ../imagenes/alis\ \(2\).jpg) ;
    background-size: contain;
width: 100%;
height: 450px;    
padding: 3rem; 
text-align: center;

}
.titulo2{ 
  font-family:'Times New Roman', Times, serif;
background-color: white;
color: black ;
font-size: 50px;
text-align: center;
padding: 1rem;
width: 40%;
height: auto;  
margin-bottom: 2rem;   
}
.fondo { background-color: white;
    margin: 2rem 0 0;
     width: 100%;    
}

.fondo__parraf {
color: white;
font-size: 30px;
background-color: black;
width: 60%;
height: auto;
margin: 1rem;
}
.imagenpromo{
    width: 400px;
    height: 300px;
    border-radius: 1rem;
    margin: 1rem;
    
}
.subpromo{
    text-align: center;
    font-size: 35px;
    color: black;
}
    .promo{
        font-size: 25px;
        text-align: center;
    }
    .promocionesfondo{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
         background-color: #f5abb0;
         height: auto;
         border-radius: 1rem;
         padding: 1rem;
         margin-bottom: 2rem;
         margin-top: 1rem;
     }
     .parraf {
        color: white;
        font-size: 20px;
        text-align: justify;
    }
