.registrarse{
    background-color:lightpink;

}

.registrarse_titulo{
    padding-top: 2rem;
    text-align: center;
}

#formulario-registro{
    width: 60%;
    margin-left: 20%;
}
.input {
    height: 3.5rem;
    margin: 1.2rem;
    padding: 1rem;
    width: 100%;
    border: white;
}
.confirmar{
    background-color: palevioletred;
    width: 60%;
    margin-left: 20%;
    border: white;
    margin-bottom: 2rem;
    padding:1rem ;
    margin-top: 1.5rem;
    height: 3.5rem;
}
.volver{
    display:inline-block;
    text-align: center;
    background-color: palevioletred;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    border: white;
    margin-bottom: 2rem;
    padding: 1rem ;
    margin-top: 2rem;
    height: 3.5rem;
    text-decoration: none;
    color: black;

}