.sectionservicios{
    background-image: url("../imagenes/imagenes\ \(2\).jpg") ;
    background-size: contain;
    padding-top: 6.2rem;
width: 100%;
height: 450px;    

text-align: center;
}
.servicio__parraf{
    color: $color-secundario;
    font-size: 30px;
    background-color: $color-palabras;
    width: 70%;
    padding: 5px;
    height: auto;
    margin: 1rem;
    margin-left: 2rem;

}
.servicio__titulo{ font-family:'Times New Roman', Times, serif;
    background-color: $color-secundario;
     color: $color-palabras ;
     font-size: $font-size-principal;
     text-align: center;
     padding: 1rem;
     width: 25%;
     height: auto;  
     margin-top: 100px;
     margin-left: 2rem;

}
.sectionservi{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
}
.articleservi{
margin: 10px;

color: $color-palabras;
font-weight: 500;
width: 90%;
font-size: 1rem;
padding: 5px;
background-color:pink;

}
.sub__servi{
  padding: 5px;
    text-align: center;
    font-size: 18px;
    color: $color-palabras;
}
@mixin fuente ( $font-family, $font-weight ) {
    font-family: $font-family;
    font-weight: $font-weight;
    
}
.sub__servi{
   @include fuente ( "Thimes", 100);
  

}
.fotosuñas{
    border: 1px solid white;
    width: 200px;
    height: 200px;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
    border-radius:105px;
    margin-left: 10px;
}

.parrafos{ 
    font-size: 15px;
    color:$color-secundario;
    height: auto;
    padding: 5px;


}
.focus-in-contract {
	-webkit-animation: focus-in-contract 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-contract 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes focus-in-contract {
    0% {
      letter-spacing: 1em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes focus-in-contract {
    0% {
      letter-spacing: 1em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  
.tituloinsta{
    font-size: 38px;
    text-shadow: 0px 15px 25px rgba(0,0,0,0.50);;
    font-family: cursive;
    text-align: center;
    color:$color-secundario;
    

}
.insta{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  
  
  }
  
  .instag{
    width: 270px;
    height: 420px;
    margin-bottom: 1rem;
    margin: 2rem;
  }
  .insta__no{
    display: flex;
}
  