.sectionturno{
    background-image:url("../imagenes/alis\ \(1\).jpg") ;
    background-size: contain;
    width: 100%;
height: 450px;    
padding: 3rem; 
text-align: center;


}
.turno__titulo{
    font-family:'Times New Roman', Times, serif;
    background-color: $background-color-secundario;
     color: $color-palabras;
     font-size: $font-size-principal;
     text-align: center;
     padding: 1rem;
     width: 30%;
     height: auto;  
     margin-top: 300px;
    
}

.precios{
    width: 350px;
    height: 430px;
}

.fondoturnos { padding: 1rem;
    min-height: 300px;
    border: 2px solid gainsboro;
    text-align: center;

}

.turno{
margin: 2rem;
font-size: 30px ;
color: $color-secundario;
text-align: center;


}
.button__turno{
    background-color: $background-color-principal;
    color:aliceblue;
    font-weight: bold;
    width: 50%;
    padding: 15px;
    border: 2px solid $color-palabras;
    border-radius: 5px;
    text-align: center;


}