$color-principal:#f5abb0;
$background-color-principal:#f5abb0;
$color-palabras: white; 
$color-secundario: black; 
$background-color-palabras: white;
$background-color-secundario: black;
$font-size-principal: 50px;